<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Log in</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
           <a routerLink="/" class="nav-link active" aria-current="page" href="#">Home page</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="d-flex justify-content-center">
<form >
    <div class="col-md-14">
        <label for="username" class="form-label">Username</label>
        <div class="input-group has-validation">
          <input name ="username" [(ngModel)]="username" type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
          <div class="invalid-feedback">
          </div>
        </div>
      </div>
    <div class="col-md-14">
      <label for="password" class="form-label">Password</label>
      <input name = "password" type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary" (click)="login()">LogIn</button>
  </form>
</div>
  <div class="poruka">{{message}}</div>