@import "~bootstrap/dist/css/bootstrap.css";

.obavestenja{
    margin-top: 5px;
}

.forma{
    display: flex;
    justify-content: center;
}

.card{
    width: 50%;
}

.slika{
    width: 200px;
    height: 200px;
}

.oms{
    display: flex;
    justify-content: center;
    align-items: center;
}

.obav{
    width: 500px;
}

.obave{
    position: relative;
    display: flex;
    justify-content: right;
}

.omot{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 999;
}