@import "~bootstrap/dist/css/bootstrap.css";

.zahtevi{
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 20px;
}

.dodavanje{
    max-width: 25%;
}

.oba-dela{
    display: flex;
    justify-content: center;
    gap: 9%;
}

.svi-korisnici{
    margin-left: 100px;
    max-width: 80%;
}

.max-dana{
    margin-left: 86px;
}