@import "~bootstrap/dist/css/bootstrap.css";

.zahtevi{
    margin-left: 14px;
}

.oba-dela{
    margin-left: 86px;
    max-width: 70%;
    display: flex;
    justify-content: space-between;
}

.svi-korisnici{
    margin-left: 100px;
}