<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Admin stranica</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
<br><br>
<div class="omotac">
  <div class="oba-dela">
    <div class="dodavanje">
      <form class="forma">
        <h3>Dodaj korisnika</h3>
          <div class="col-md-14">
              <label for="username" class="form-label">Korisnicko ime</label>
              <div class="input-group has-validation">
                <input name ="username" [(ngModel)]="username" type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                </div>
              </div>
            </div>
          <div class="col-md-14">
            <label for="password" class="form-label">Lozinka</label>
            <input name = "password" type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password">
          </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Potvrdi lozinku</label>
              <input name = "c_password" type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="c_password">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Ime i prezime</label>
              <input name = "ime_prezime" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="ime_prezime">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Adresa</label>
              <input name = "adresa" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="adresa">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Telefon</label>
              <input name = "telefon" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="telefon">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">email</label>
              <input name = "email" type="email" class="form-control" id="exampleInputPassword1" [(ngModel)]="email">
            </div><br>
          <div class="input-group mb-14">
            <input onchange="onChangeUser($event)" type="file" class="form-control" id="inputGroupFile02">
            <label class="input-group-text" for="inputGroupFile02">Fotografija</label>
          </div>
          <br>
          <button type="submit" class="btn btn-primary" (click)="register()">Dodaj korisnika</button>
        </form>
      
        <div class="poruka">{{messageKorisnik}}</div>
    </div>
    <br><br>
    <div class="dodavanje">
      <form class="forma">
        <h3>Dodaj knjigu</h3>
        <div class="col-md-14">
          <label for="password" class="form-label">Naslov</label>
          <input name = "naslov" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="naslov">
        </div>
          <div class="col-md-14">
            <label for="password" class="form-label">Zanr</label>
            <input name = "zanr" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="zanr">
          </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Pisac</label>
              <input name = "pisac" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="pisac">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Izdavac</label>
              <input name = "izdavac" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="izdavac">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Godina izdavanja</label>
              <input name = "godina" type="number" class="form-control" id="exampleInputPassword1" [(ngModel)]="godina">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Jezik</label>
              <input name = "jezik" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="jezik">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Na stanju komada</label>
              <input name = "naStanju" type="number" class="form-control" id="exampleInputPassword1" [(ngModel)]="naStanju">
            </div><br>
            <div class="input-group mb-14">
              <input type="file" onchange="onChangeBook($event)" class="form-control" id="inputGroupFile02">
              <label class="input-group-text" for="inputGroupFile02">Fotografija</label>
            </div>
          <br>
          <button type="submit" class="btn btn-primary" (click)="addBook()">Dodaj knjigu</button>
        </form>
      
        <div class="poruka">{{messageBook}}</div>
    </div>
  </div>
</div>

<br><br>

<div class="svi-korisnici">
  <h4>Novi zahtevi za prijavu na sistem</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Korisnicko ime</th>
        <th scope="col">Ime i prezime</th>
        <th scope="col">Broj telefona</th>
        <th scope="col">email</th>
        <th scope="col">Adresa</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let zahtev of sviZahtevi; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{zahtev.username}}</td>
        <td>{{zahtev.ime_i_prezime}}</td>
        <td>{{zahtev.telefon}}</td>
        <td>{{zahtev.email}}</td>
        <td>{{zahtev.adresa}}</td>
        <td><button class="btn btn-primary" (click)="odobri(zahtev.username)">Odobri</button></td>
      </tr>
    </tbody>
  </table>
</div>    

<br><br>
    <div class="svi-korisnici">
      <h4>Svi korisnici sistema</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Korisnicko ime</th>
            <th scope="col">Ime i prezime</th>
            <th scope="col">Broj telefona</th>
            <th scope="col">email</th>
            <th scope="col">Adresa</th>
            <th scope="col">Tip</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let korisnik of getItems(); index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{korisnik.username}}</td>
            <td>{{korisnik.ime_i_prezime}}</td>
            <td>{{korisnik.telefon}}</td>
            <td>{{korisnik.email}}</td>
            <td>{{korisnik.adresa}}</td>
            <td>{{korisnik.tip_korisnika}}</td>
            <td><button class="btn btn-primary" (click)="izmeni(korisnik)">Izmeni</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <br><br>
    <div class="svi-korisnici">
      <h4>Svi knjige sistema</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naslov</th>
            <th scope="col">Pisac</th>
            <th scope="col">Zanr</th>
            <th scope="col">Jezik</th>
            <th scope="col">Izdavac</th>
            <th scope="col">Godina izdavanja</th>
            <th scope="col">Komada na stanju</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let knjiga of sveKnjige; index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{knjiga.naziv}}</td>
            <td>{{knjiga.autor}}</td>
            <td>{{knjiga.zanr}}</td>
            <td>{{knjiga.jezik}}</td>
            <td>{{knjiga.izdavac}}</td>
            <td>{{knjiga.godina_izdavanja}}</td>
            <td>{{knjiga.broj_na_stanju}}</td>
            <td><button class="btn btn-primary" (click)="izmeni_knjigu(knjiga)">Izmeni</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br><br>

    <div class="max-dana">
      <form class="forma">
        <h3>Maksimalni broj dana za iznajmljivanje</h3>
          <div class="col-md-2">
              <label for="number" class="form-label">Dana</label>
              <input name = "days" type="number" class="form-control" id="exampleInputPassword1" [(ngModel)]="days" placeholder="{{this.daysB}}">
            </div>
          <br>
          <button type="submit" class="btn btn-primary" (click)="changeDays()">Promeni dane</button>
        </form>
      
        <div class="poruka">{{message}}</div>
    </div>