<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Admin page</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
<br><br>
<div class="omotac">
  <div class="oba-dela">
    <div class="dodavanje">
      <form class="forma">
        <h3>Add user</h3>
          <div class="col-md-14">
              <label for="username" class="form-label">Username</label>
              <div class="input-group has-validation">
                <input name ="username" [(ngModel)]="username" type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                </div>
              </div>
            </div>
          <div class="col-md-14">
            <label for="password" class="form-label">Password</label>
            <input name = "password" type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password">
          </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Confirm password</label>
              <input name = "c_password" type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="c_password">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Name and surname</label>
              <input name = "ime_prezime" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="ime_prezime">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Adresa</label>
              <input name = "adresa" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="adresa">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Telefon</label>
              <input name = "telefon" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="telefon">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">email</label>
              <input name = "email" type="email" class="form-control" id="exampleInputPassword1" [(ngModel)]="email">
            </div>
          <br>
          <button type="submit" class="btn btn-primary" (click)="register()">Add user</button>
        </form>
      
        <div class="poruka">{{message}}</div>
    </div>
    <br><br>
    <div class="dodavanje">
      <form class="forma">
        <h3>Add book</h3>
        <div class="col-md-14">
          <label for="password" class="form-label">Title</label>
          <input name = "naslov" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="naslov">
        </div>
          <div class="col-md-14">
            <label for="password" class="form-label">Zanr</label>
            <input name = "zanr" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="zanr">
          </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Pisac</label>
              <input name = "pisac" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="pisac">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Izdavac</label>
              <input name = "izdavac" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="izdavac">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Godina izdavanja</label>
              <input name = "godina" type="number" class="form-control" id="exampleInputPassword1" [(ngModel)]="godina">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Jezik</label>
              <input name = "jezik" type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="jezik">
            </div>
          <div class="col-md-14">
              <label for="password" class="form-label">Na stanju komada</label>
              <input name = "naStanju" type="number" class="form-control" id="exampleInputPassword1" [(ngModel)]="naStanju">
            </div>
          <br>
          <button type="submit" class="btn btn-primary" (click)="register()">Add book</button>
        </form>
      
        <div class="poruka">{{message}}</div>
    </div>
    <br><br>
    <div class="zahtevi">
      <h4>Novi zahtevi za prijavu na sistem</h4>
      <table class="tabela">
        <thead class="zaglavlje">
          <tr>
            <th>username</th>
            <th>Ime i prezime</th>
            <th>Broj telefona</th>
            <th>email</th>
            <th>Adresa</th>
          </tr>
          </thead>
          <tbody>
        <tr *ngFor="let zahtev of sviZahtevi">
          <td>{{zahtev.username}}</td>
          <td>{{zahtev.ime_i_prezime}}</td>
          <td>{{zahtev.telefon}}</td>
          <td>{{zahtev.email}}</td>
          <td>{{zahtev.adresa}}</td>
          <td><button class="btn btn-primary" (click)="odobri(zahtev.username)">Verify</button></td>
        </tr>
      </tbody>
      </table>
    </div>    
  </div>
</div>

<br><br>
    <div class="svi-korisnici">
      <h4>Svi korisnici sistema</h4>
      <table class="tabela">
        <thead class="zaglavlje">
          <tr>
            <th>username</th>
            <th>Ime i prezime</th>
            <th>Broj telefona</th>
            <th>email</th>
            <th>Adresa</th>
            <th>Tip</th>
          </tr>
          </thead>
          <tbody>
        <tr *ngFor="let korisnik of getItems()">
          <td>{{korisnik.username}}</td>
          <td>{{korisnik.ime_i_prezime}}</td>
          <td>{{korisnik.telefon}}</td>
          <td>{{korisnik.email}}</td>
          <td>{{korisnik.adresa}}</td>
          <td>{{korisnik.tip_korisnika}}</td>
          <td><button class="btn btn-primary" (click)="izmeni(korisnik)">Izmeni</button></td>
        </tr>
      </tbody>
      </table>
    </div>

    <br><br>
    <div class="svi-korisnici">
      <h4>Svi knjige sistema</h4>
      <table class="tabela">
        <thead class="zaglavlje">
          <tr>
            <th>Naslov</th>
            <th>Pisac</th>
            <th>Zanr</th>
            <th>Jezik</th>
            <th>Izdavac</th>
            <th>Godina izdavanja</th>
            <th>Komada na stanju</th>
          </tr>
          </thead>
          <tbody>
        <tr *ngFor="let knjiga of sveKnjige">
          <td>{{knjiga.naziv}}</td>
          <td>{{knjiga.autor}}</td>
          <td>{{knjiga.zanr}}</td>
          <td>{{knjiga.jezik}}</td>
          <td>{{knjiga.izdavac}}</td>
          <td>{{knjiga.godina_izdavanja}}</td>
          <td>{{knjiga.broj_na_stanju}}</td>
          <td><button class="btn btn-primary" (click)="izmeni_knjigu(knjiga)">Izmeni</button></td>
        </tr>
      </tbody>
      </table>
    </div>