body{
    background-color: rgba(43, 238, 196, 0.356);
}

.poruka{
    color: red;
}

.forma{
    margin-left: 14px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.noga{
    margin-top: 30px;
    /* position: absolute;
    bottom: 0px;
    min-width: 100%; */
}
