@import "~bootstrap/dist/css/bootstrap.css";

.slika-profila{
    max-width: 50px;
    max-height: 50px;
}

.carousel-inner .carousel-item .slide .carousel{
    max-width: 90px;
    max-height: 100px;
}

.slika-knjige{
    max-width: 100px;
    max-height: 100px;
}

.btn{
    margin-right: 8px;
}

.pretraga{
    display: flex;
    justify-content: center;
}

.log{
    margin-top: 10px;
}

.omotac{
    display: flex;
    justify-content: center;
}

.karusel-knjiga-dana{
    display:flex;
    column-gap: 50px;
    max-width: 80%;
}

h4{
    display: flex;
    justify-content: center;
}

.naslov-knjige-dana{
    position: absolute;
    color: white;
}