<h1>Pocetna</h1>

<ng-template [ngIf]="user == null"><div><a routerLink="/login">log in.</a></div></ng-template>
<br>
<ng-template [ngIf]="user == null"><div><a routerLink="/register">register.</a></div></ng-template>
<br>
<ng-template [ngIf]="user != null"><div>Profile</div></ng-template>
<br>
<ng-template [ngIf]="user != null"><div><button (click)="logOut()">LogOut</button></div></ng-template>
<br>
<ng-template [ngIf]="user != null"><div><a routerLink="/profil"><img src="../picture/default.jpg" alt="Default profile picture" class="slika-profila"></a></div></ng-template>
<br>
<p>Pretraga</p>
<ng-template [ngIf]="user != null"><div><a routerLink="/user">User page</a></div></ng-template>
